
<div id="report-title"><h1>Peserta Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Jenjang</th>
            <td><%= record.jenjang %></td>
        </tr>
        <tr>
            <th>Tahun Lulus</th>
            <td><%= record.tahun_lulus %></td>
        </tr>
        <tr>
            <th>Nama Peserta</th>
            <td><%= record.nama_peserta %></td>
        </tr>
        <tr>
            <th>Tempat Lahir</th>
            <td><%= record.tempat_lahir %></td>
        </tr>
        <tr>
            <th>Tanggal Lahir</th>
            <td><%= record.tanggal_lahir %></td>
        </tr>
        <tr>
            <th>Orangtua</th>
            <td><%= record.orangtua %></td>
        </tr>
        <tr>
            <th>Nopes Un</th>
            <td><%= record.nopes_un %></td>
        </tr>
        <tr>
            <th>No Ijazah</th>
            <td><%= record.no_ijazah %></td>
        </tr>
        <tr>
            <th>Npsn</th>
            <td><%= record.npsn %></td>
        </tr>
        <tr>
            <th>Nama Sekolah</th>
            <td><%= record.nama_sekolah %></td>
        </tr>
    </tbody>
</table>
